<div class="task-form panel panel-default">
  <div class="panel-heading">Edit Task</div>

  <%= render 'form' %>

  <%= link_to 'Show', @task %> |
  <%= link_to 'Back', tasks_path %>

  </div>
</div>
