<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Please, God, tell me there is an attachment on this email. And please make that attachment a generated report. </h1>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>