<div class="shift-form panel panel-default">
  <div class="panel-heading">New Shift <%= link_to image_tag('icon-back.png'), session[:last_page], class: 'back' %></div>

  <%= render 'new_form' %>

  </div>
</div>