<div class="project-form panel panel-default">
  <div class="panel-heading">Edit Project</div>

  <%= render 'form' %>

  <%= link_to 'Show', @project %> |
  <%= link_to 'Back', projects_path %>

  </div>
</div>
