<div class="task-form panel panel-default">
  <div class="panel-heading">New Project <%= link_to image_tag('icon-back.png'), projects_path, class: 'back' %></div>

  <%= render 'form' %>

  </div>
</div>

