/* ============ BY ELEMENT ============ */
select {
	width: 100%;
	height: 34px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
input[type="checkbox"] {
	width: 20px;
	height: 20px;
	margin: 0;
	margin-top: 9px;
  outline: none;
}

/* ============ BY CLASS ============ */
.wrapper {
	width: 1080px;
	margin: 0 auto;
}
.hide {
	display: none !important;
}
.disabled {
	pointer-events: none;
	opacity: .6;
}
.panel-heading {
	font-weight: normal;
}
.new-link {
	display: inline-block;
	margin-left: 6px;
	font-size: 22px;
	font-weight: 700;
}
/* ============ HEADER ============ */
.main-header {
	z-index: 2;
	position: relative;
	box-shadow: 0 2px 3px hsla(0, 0%, 0%, .5);
	margin-bottom: 4px;
	.main-header-top {
		height: 100px;
		padding: 1px 0;
	}
	.logo {
		float: none;
		display: block;
		width: 300px;
		margin: 20px auto 0 auto;
		&:hover {
			text-decoration: none;
		}
		span {
			margin-left: 5px;
			@extend .text-x;
			font-family: 'Kaushan Script';
			font-family: 'Architects Daughter';
			color: hsl(72, 9%, 14%);
			vertical-align: middle;
		}
		img {
			height: 60px;
			vertical-align: middle;
		}
	}
	.login {
		display: none;
		float: right;
		margin-top: 80px;
		@extend .text-x;
		font-weight: normal;
		text-transform: uppercase;
		color: hsl(72, 9%, 14%);
	}
	i {
		position: relative;
		top: -2px;
		margin-left: 10px;
		font-size: 80%;
	}
	.navbar {
		border-radius: 0;
		.caret {
			margin-left: 20px;
		}
		.dropdown-menu li a {
			padding: 8px 30px;
			@extend .text-s;
		}
	}
}

/* ============ MAIN ============ */
.main {
  min-width: 980px;
  min-height: 1200px;
}
.body {
	border-top: 1px solid hsla(0, 0%, 0%, .3);
	padding: 50px 0;
	h1 {
		margin-bottom: 30px;
	}
}
.main-content {
	width: 72%;
	float: left;
}
.sidebar {
	float: right;
}

.filter-group {
	margin: 8px 0 4px;
}

/* ============ SHARED ============ */
// CALENDAR
[data-filter="weekly"] tr:hover td a, [data-filter="weekly"] tr:hover td span {
	background: $color5 !important;
}
[data-filter="bi-weekly"] .hover-style {
	background: $color5 !important;
}
[data-filter="monthly"]:hover td a {
	background: $color5 !important;
}
.ui-datepicker {
	width: 255px;
	td.highlight a {
		background: #99dd73;
		border: 1px #88a276 solid !important;
	}
	.ui-state-active {
		color: #1c94c4;
	}
	.ui-state-hover {
		color: #1c94c4;
		background: $color5;
	}
	// today's styling
	.ui-state-highlight {
		color: hsl(212, 72.7811%, 27%);
		background: hsl(0, 0%, 98%);
		border: 1px solid #ccc;
	}
}
.back {
	float: right;
	img { 
		width: 25px;
	}
}
table {
	th, td {
		text-align: left;
	}
	td {
		cursor: default;
	}
	.action {
		text-align: center;
		img {
			width: 20px;
		}
	}
}
#error_explanation {
	color: hsl(1, 75%, 50%);
	font-style: italic;
}

/* ============ FOOTER ============ */
.main-footer {
	background: hsl(242, 21%, 30%);
	.footer-nav {
		float: right;
		margin: 13px 40px;
		li {
			padding: 0 10px;
			border-color: hsla(0, 0%, 100%, .4);
			height: 14px;
			line-height: 14px;
		}
		a {
			@extend .text-xs;
			color: hsla(0, 0%, 100%, .4);
		}
	}
}

/* ============ BY PAGE ============ */
// HOME-PAGE
.sessions-new {
	.new-user-form {
		display: none;
	}
}
.users-create.sign-up {
	.login-form {
		display: none;
	}
}

.sessions-new, .users-create.sign-up {
	.main-header {
		.main-header-top {
			height: 200px;
		}	
		.navbar {
			display: none;
		}
		.logo {
			float: left;
			width: auto;
			margin-top: 50px;
			span {
				margin-left: 10px;
				@extend .text-xx;
			}
			img {
				height: 100px;
			}
		}
	}
	.main {
		background: image-url('bg_grass.jpg') no-repeat;
		background-size: cover;
	}
	.new-user-wrapper {
		width: 350px;
		margin: 0 auto;
		margin-top: 100px;
		input {
			height: 40px;
			margin-bottom: 7px;
			border: 0;
			@extend .text-m;
			background: hsla(0, 0%, 100%, .6);
			color: $shade3;
			&:focus {
				background: hsla(0, 0%, 100%, .8);
			}
		}
		.name-wrapper, .pw-wrapper {
			input {
				float: left;
				width: 48.9%;
			}
			margin-bottom: 7px;
		}
		.last-name {
			margin-left: 7px;
		}
		.confirm {
			margin-left: 7px;
		}
		[type="submit"] {
			float: right;
			color: $shade3;
			&:hover {
				background: hsla(0, 0%, 100%, .8);
			}
		}
		#alert {
			font-style: italic;
			@extend .text-l;
			margin-left: 10px;
			margin-bottom: 20px;
		}
		.new-user-trigger {
			float: right;
			display: inline-block;
			margin-bottom: 20px;
			@extend .arch;
			font-size: 22px;
			font-weight: 500;
			color: hsl(69, 9.8592%, 13.9216%);
		}
	}

	.login-form {
		width: 350px;
		margin: 0 auto;
		margin-top: 20px;
		input {
			height: 40px;
			margin-bottom: 7px;
			border: 0;
			@extend .text-m;
			background: hsla(0, 0%, 100%, .4);
			color: $shade3;
			&:focus {
				background: hsla(0, 0%, 100%, .6);
			}
		}
		[type="submit"] {
			float: right;
			color: $shade3;
			&:hover {
				background: hsla(0, 0%, 100%, .6);
			}
		}
		#alert {
			font-style: italic;
			@extend .text-l;
			margin-left: 10px;
			margin-bottom: 20px;
		}
	}
}

// SHIFTS INDEX
.shifts-index {
	&.today, &.daily {
		#alert {
			margin-bottom: 20px;
			text-transform: uppercase;
			text-align: center;
			@extend .arch;
			font-size: 22px;
			font-weight: 500;
			font-style: italic;
			color: hsl(120, 39%, 34%);
		}
		.new {
			float: right;
		}
		.shift-table {
			margin-bottom: 50px;
		}
	}
	.grouped-shift td {
		border-top: 1px solid transparent;
	}
	.new-top {
		float: right;
		margin-top: 5px;
		margin-right: 300px;
	}
	.new-bottom {
		float: right;
		margin-bottom: 30px;
	}
	.edit {
		width: 46px;
		img {
			width: 30px;
		}
	}
	.date-in {
		width: 160px;
	}
	.clock-in, .clock-out {
		width: 132px;
	}
	.project, .task {
		width: 140px;
	}
	.hours, .pay {
		text-align: right;
	}
	.hours {
		width: 65px;
	}
	.pay {
		width: 72px;
	}
	.action {
		input {
			float: right;
			width: 60px;
		}
	}
	input, select {
		width: 100%;
	}
	#filter {
		margin-bottom: 10px;
	}
}

// SHIFTS EDIT/NEW
.shift-form {
	.form-group {
		@extend .clearfix;
	}
	#shift_date_in, #shift_date_out, .project-group, .add-cost-group {
		float: left;
		width: 48%;
	}
	#shift_clock_in, #shift_clock_out, .task-group, .actions {
		float: right;
		width: 48%;
	}
	.project-group, .task-group {
		select {
			width: 100%
		}
	}
	.submit-wrapper {
		float: right;
		margin-top: 30px;
	}
}

.task-form, .project-form, .shift-form {
	margin-top: 20px;
	width: 400px;
}

// REPORTS CREATE/ NEW
.reports-create, .reports-new {
	.main-content {
		float: none;
		width: 100%;
	}
	.body-wrapper {
		width: 920px;
		margin: 0 auto;
	}
	.email-status {
		display: none;
		position: absolute;
		z-index: 10;
		top: 280px;
		width: 100%;
		h2 {
			float: none;
			width: 940px;
			margin: 0 auto;
			padding: 30px 150px;
			text-align: center;
		}
	}
	h2 {
		float: left;
		margin-bottom: 30px;
	}
	.generate, .email, .preview, .email-address {
		float: right;
		margin-right: 8px;
	}
	.email-wrapper {
		.email-address {
			width: 162px;
		}
	}
	.panel-body {
		padding: 20px 40px;
	}
	.new-report {
		margin-bottom: 50px;
		label {
			margin-top: -4px;
		}
	}
	.shift-table {
		margin-top: 40px;
		th {
			text-transform: uppercase;
		}
		.date-in {
			width: 160px;
		}
		.project, .task {
			width: 140px;
		}
		.hours, .pay {
			text-align: right;
		}
		.hours {
			width: 65px;
		}
		.pay {
			width: 72px;
		}
	}
}

// PROJECTS(TASKS) INDEX
table {
	td {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}
.projects-index, .tasks-index {
	#notice {
		font-style: italic;
		font-weight: normal;
		margin-bottom: 20px;
	}
	.projects-wrapper {
		float: left;
		width: 46.5%;
	}
	.tasks-wrapper {
		float: right;
		width: 46.5%;
	}
	.table>tbody>tr.active td {
		background-color: hsla(212, 72%, 33%, .5);
		a {
			color: white;
		}
	}
	.name {
		width: 150px;
		max-width: 150px;
		input {
			width: 100%;
		}
	}
	.rate {
		width: 80px;
		max-width: 80px;
		text-align: right;
		input {
			width: 100%;
		}
	}
	.status {
		text-align: center;
		width: 110px;
	}
	.default {
		text-align: center;
		width: 90px;
	}
	.check {
		width: 20px;
	}
	.no-tasks {
		padding: 0 15px 20px;
	}
}

// PROJECT/TASKS EDIT 
.projects-edit, .projects-new, .tasks-edit {
	.checkboxes {
		padding-top: 5px;
	}
	.status-group, .default-group {
		float: left;
		width: 130px;
		label, input[type="checkbox"] {
			float: left;
			display: inline-block;
			margin: 0;
			line-height: 25px;
			vertical-align: middle;
		}
		label {
			margin-left: 8px;
		}
		input[type="checkbox"] {
			position: relative;
			top: 5px;
		}
	}

	input[type="submit"] {
		float: right;
	}
}

// USERS-INDEX
.users-index {
	.edit {
		width: 80px;
		img {
			width: 30px;
		}
	}
}


